/* ------ RESET ------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
    position: relative;
}

form {
    display: inline-block;
    width: 352px;
}

/* ------ HELPER CLASSES ---------------------------- */
.center {
    text-align: center;
}